@import url('variables.css');

body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: #f0f0f0;
}

header{
    text-align: center;
}

table{
    border: 2px solid #000;
}

td{
    border: 2px solid #000;
    padding-right: var(--default-padding);
}

button{
    background-color: var(--color-primary);
    color: black;
    border: 2px solid var(--color-tertiary);
    border-radius: var(--default-border-radius);
    padding: var(--default-padding);
    font-size: 16px;
    font-family: "Elms Sans", sans-serif;
}

button:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
    transition: all 0.5s ease;
}

input{
    border-radius: var(--default-border-radius);
    padding-left: 5px;
}

.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    background-color: rgba(10, 10, 10, 0.5);
}

.modal-content{
    background-color: #f0f0f0;
    border-radius: var(--default-border-radius);
    padding: 30px;
}