:root{
    --font: "Elms Sans", sans-serif;

    --color-primary: rgb(183, 226, 43);
    --color-secondary: rgb(154, 190, 35);
    --color-tertiary: rgb(151, 172, 10);

    --default-border-radius: 30px;
    --default-padding: 20px;
}